<!-- src/app/home/home.component.html -->
<div class="home-container">
    <h1>Welcome to Our Restaurant</h1>
    
    
    
    <div class="button-group">
      <button (click)="navigateTo('/menu')">Menu</button>
      &nbsp;<button (click)="navigateTo('/table')">Table</button>&nbsp;
      &nbsp;<button (click)="navigateTo('/payment')">Payment</button>
      <button (click)="navigateTo('/closing')">Closing</button>

    </div>

    <div class="image-container">
      <img src="assets/images/1046849.png" alt="Menu" class="image">
      <img src="assets/images/333521.png" alt="Table" class="image">
      <img src="assets/images/1019607.png" alt="Payment" class="image">
    </div>
</div>

